<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndToEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>864893412B58853200F99BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>864893492B58853200F99BE9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>992107BB2B6C50D0001E49F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9951A64D2B851C5F003C8110</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F101042B8A7BDB00C65F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99F1010B2B8A7BDC00C65F35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
